In [1]:
# Import necessary libraries
from tfsage.features import load_region_set, extract_features_chip_atlas

In [2]:
# Load the gene location set
gene_loc_set = load_region_set("hg38")

In [3]:
# Define the path to the merged BED file and the list of individual names
# aria2c -x 16 https://chip-atlas.dbcls.jp/data/hg38/allPeaks_light/allPeaks_light.hg38.50.bed.gz
# pigz -d -k allPeaks_light.hg38.50.bed.gz

bed_file = "../allPeaks_light.hg38.50.bed"
individual_names = ["SRX502813", "SRX9029191", "SRX9029192"]

In [4]:
# Extract features using the extract_features_chip_atlas function
# This takes a while to run the first time
df = extract_features_chip_atlas(
    bed_file, individual_names, gene_loc_set, data_dir="../data"
)
df.columns = individual_names
df

100%|██████████| 3/3 [00:02<00:00,  1.06it/s]

                     SRX502813  SRX9029191  SRX9029192
NR_046018:DDX11L1     1.087330    0.882397    0.882887
NR_106918:MIR6859-1   0.899921    0.600069    0.600402
NR_107062:MIR6859-2   0.899921    0.600069    0.600402
NR_024540:WASH7P      0.945741    0.262393    0.262538
NR_036051:MIR1302-2   0.976968    0.244906    0.245042
...                        ...         ...         ...
NR_033714:VAMP7       0.000000    0.000000    0.000000
NM_001145149:VAMP7    0.000000    0.000000    0.000000
NM_176786:IL9R        0.000000    0.000000    0.000000
NM_002186:IL9R        0.000000    0.000000    0.000000
NR_110561:DDX11L16    0.000000    0.000000    0.000000

[56649 rows x 3 columns]

In [5]:
# Aggregate gene-level features
df["gene"] = df.index.str.split(":").str[1]
df = df.groupby("gene").mean()
df

          SRX502813  SRX9029191  SRX9029192
gene
A1BG       1.709493    0.005796    0.005802
A1BG-AS1   1.580226    0.006444    0.006451
A1CF       0.000000    0.000000    0.000000
A2M        0.000000    0.000000    0.000000
A2M-AS1    0.000000    0.000000    0.000000
...             ...         ...         ...
ZYG11A     0.000000    0.000000    0.000000
ZYG11B     0.000000    0.004194    0.209040
ZYX        0.003633    0.939914    0.938677
ZZEF1      0.000000    0.945009    0.946714
ZZZ3       0.000000    0.000000    0.996264

[26275 rows x 3 columns]