In [1]:
# Import necessary libraries
from tfsage.features import load_region_set, extract_features_chip_atlas

In [2]:
# Load the gene location set
gene_loc_set = load_region_set("hg38")

In [3]:
# Define the path to the merged BED file and the list of individual names
# Download: https://github.com/inutano/chip-atlas/wiki#assembled-peak-call-data-used-in-peak-browser
bed_file = "../allPeaks_light.hg38.50.bed"
individual_names = ["SRX502813", "SRX9029191", "SRX9029192"]

In [4]:
# Extract features using the extract_features_chip_atlas function
# This takes a while to run the first time
df = extract_features_chip_atlas(
    bed_file, individual_names, gene_loc_set, data_dir="../data"
)
df.columns = individual_names

100%|██████████| 3/3 [00:00<00:00,  9.79it/s]

In [5]:
# Display the resulting DataFrame
df

                     SRX502813  SRX9029191  SRX9029192
NR_046018:DDX11L1     1.087330    0.882397    0.882887
NR_106918:MIR6859-1   0.899921    0.600069    0.600402
NR_107062:MIR6859-2   0.899921    0.600069    0.600402
NR_024540:WASH7P      0.945741    0.262393    0.262538
NR_036051:MIR1302-2   0.976968    0.244906    0.245042
...                        ...         ...         ...
NR_033714:VAMP7       0.000000    0.000000    0.000000
NM_001145149:VAMP7    0.000000    0.000000    0.000000
NM_176786:IL9R        0.000000    0.000000    0.000000
NM_002186:IL9R        0.000000    0.000000    0.000000
NR_110561:DDX11L16    0.000000    0.000000    0.000000

[56649 rows x 3 columns]