In [1]:
# Import necessary libraries
from tfsage.features import load_region_set, extract_features_chip_atlas

In [2]:
# Load the gene location set
gene_loc_set = load_region_set("hg38")

In [3]:
# Define the path to the merged BED file and the list of individual names
# aria2c -x 16 https://chip-atlas.dbcls.jp/data/hg38/allPeaks_light/allPeaks_light.hg38.50.bed.gz
# pigz -d -k allPeaks_light.hg38.50.bed.gz

bed_file = "../allPeaks_light.hg38.50.bed"
individual_names = ["SRX502813", "SRX9029191", "SRX9029192"]

In [4]:
# Extract features using the extract_features_chip_atlas function
# This takes a while to run the first time
df = extract_features_chip_atlas(
    bed_file, individual_names, gene_loc_set, data_dir="../data"
)
df.columns = individual_names

100%|██████████| 3/3 [00:00<00:00, 1078.60it/s]

In [5]:
# Display the resulting DataFrame
df

                     SRX502813  SRX9029191  SRX9029192
NR_046018:DDX11L1          0.0         0.0         0.0
NR_106918:MIR6859-1        0.0         0.0         0.0
NR_107062:MIR6859-2        0.0         0.0         0.0
NR_024540:WASH7P           0.0         0.0         0.0
NR_036051:MIR1302-2        0.0         0.0         0.0
...                        ...         ...         ...
NR_033714:VAMP7            0.0         0.0         0.0
NM_001145149:VAMP7         0.0         0.0         0.0
NM_176786:IL9R             0.0         0.0         0.0
NM_002186:IL9R             0.0         0.0         0.0
NR_110561:DDX11L16         0.0         0.0         0.0

[56649 rows x 3 columns]

In [6]:
# Aggregate gene-level features
df["gene"] = df.index.str.split(":").str[1]
df = df.groupby("gene").mean()

In [7]:
# Display the resulting DataFrame
df

          SRX502813  SRX9029191  SRX9029192
gene
A1BG            0.0         0.0         0.0
A1BG-AS1        0.0         0.0         0.0
A1CF            0.0         0.0         0.0
A2M             0.0         0.0         0.0
A2M-AS1         0.0         0.0         0.0
...             ...         ...         ...
ZYG11A          0.0         0.0         0.0
ZYG11B          0.0         0.0         0.0
ZYX             0.0         0.0         0.0
ZZEF1           0.0         0.0         0.0
ZZZ3            0.0         0.0         0.0

[26275 rows x 3 columns]